*.json
*.vcf
*.vcf.gz
*.vcf.gz.tbi
.snakemake
*.done

simulation/background/data/refseq/

3_simulation/background/data/refseq/

data/pathogenicityScores/whole_genome_SNVs\.tsv\.gz\.tbi

data/pathogenicityScores/whole_genome_SNVs\.tsv\.gz

data/pathogenicityScores/InDels\.tsv\.gz

data/pathogenicityScores/InDels\.tsv\.gz\.tbi

data/jannovar/data/

1_qualityCheck/scripts/protected/

1_qualityCheck/pyhgvs/

1_qualityCheck/json/backup/

data/referenceGenome/data/
