*.p
*.vcf
*.vcf.gz
*.vcf.gz.tbi
.snakemake
*.done
*.log
*.ini

/.cache/

*.tar.gz

# clean root dir
/*.json

# python files
__pycache__
*.pyc

# configuration files - might contain SENSITIVE data !!!!!
config.ini
config.yml

# ignore all test data
/tests/data

# api files
mim2gene.txt
morbidmap.txt

# helper directory ephemeral files
/helper/*.txt
/helper/*.json

# static data, such as genomic data for exome simulation
# /data/
/data/f2g_library_dump.json
/data/mim2gene.txt
/data/morbidmap.txt
/data/mimTitles.txt
/data/phenotypicSeries.txt
/data/omim_deprecated_replacement.json
/data/mim_to_ps.json

# dynamic data, such as json files
/process

simulation/background/data/refseq/

3_simulation/background/data/refseq/

data/pathogenicityScores/whole_genome_SNVs\.tsv\.gz\.tbi

data/pathogenicityScores/whole_genome_SNVs\.tsv\.gz

data/pathogenicityScores/InDels\.tsv\.gz

data/pathogenicityScores/InDels\.tsv\.gz\.tbi

data/jannovar/data/

data/jannovar/jannovar_0.25/data/

1_qualityCheck/scripts/protected/

1_qualityCheck/pyhgvs/

1_qualityCheck/json/backup/

data/referenceGenome/data/

# old output data
old_data
# pyenv directory
env
