*.json
*.vcf
*.vcf.gz
*.vcf.gz.tbi
.snakemake
*.done

# python files
__pycache__
*.pyc

# configuration files - might contain SENSITIVE data !!!!!
config.ini

# static data, such as genomic data for exome simulation
data
# dynamic data, such as json files
process

simulation/background/data/refseq/

3_simulation/background/data/refseq/

data/pathogenicityScores/whole_genome_SNVs\.tsv\.gz\.tbi

data/pathogenicityScores/whole_genome_SNVs\.tsv\.gz

data/pathogenicityScores/InDels\.tsv\.gz

data/pathogenicityScores/InDels\.tsv\.gz\.tbi

data/jannovar/data/hg19/

1_qualityCheck/scripts/protected/

1_qualityCheck/pyhgvs/

1_qualityCheck/json/backup/

data/referenceGenome/data/

# old output data
old_data
# pyenv directory
env
