; General workflow configuration
[general]
logfile = preprocess.log
; download files from aws
download = false
; create pickle archives of case list
; mainly useful for skipping time-consuming steps in debugging
dump_intermediate = true

[preprocess]
; location for possible raw json file overrides
corrected_location = process/corrected
; exclude variant results if they are benign
exclude_normal_variants = true

; setting for old jSON conversion
[conversion]
; output path for converted jsons
output_path = process/convert

; Quality check based on inclusion criteria of the PEDIA study
[quality]
; destination for cases passsing qc
qc_output_path = process/checked
; logging of qc errors per case
qc_detailed = true
qc_detailed_log = quality_check.log

; General API Settings
[aws]
; necessary for download of data from remote location
access_key = 
secret_key = 
download_location = process/aws_dir

[omim]
; necessary for download of morbidmap
api_key = 
use_cached = yes
mimdir = data
mim2gene_hash = 
morbidmap_hash = 

[phenomizer]
; addition of phenomization scores based on HPO terms
url = 
user = 
password = 

; Specific QC configuration
[errorfixer]
; override genomic entry information with manually corrected information
error_path = hgvs_errors.json
new_error_path = hgvs_new_errors.json
